.header {
  width: fit-content;
  height: fit-content;
  padding: 20px 10px 20px 10px;
  position: absolute;
  top: 30%;
  right: 5vw;
  background-color: rgb(0, 0, 0);
  border: 1px solid gray;
  border-radius: 50px;
  .nav {
    gap: 20px;
    width: inherit;
    height: inherit;
    .icon {
      display: flex;
      flex-direction: row;
      position: relative;
      
      .title-icon {
        width: 0px;
        display: inline-block;
        position: absolute;
        opacity: 0;
        top: 0;
        left: -90px;
        color: white;
        background-color: rgb(41, 41, 41);
        padding: 3px;
        text-align: center;
        z-index: 10;
        border-radius: 3px 0 0 3px;
        font-size: .8rem;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          z-index: -8;
          background-color: rgb(41, 41, 41);
          width: 15px;
          height: 15px;
          transform: rotate(45deg) translate(5px, 2px);
          transition: all 0.2s linear;
        }
      }
      i {
        color: rgb(174, 173, 173);
        font-size: 1.5rem;
      }
      &:hover {
        i {
          color: deepskyblue;
        }
        .title-icon{
            opacity: 1;
            width: 80px;
        }
      }
    }
  }
}
