.layout-resume {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
  .content-resume {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    .content-title {
      font-size: 3rem;
      font-family: 'Playfair', serif;
    }
    .education-exp {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      gap: 20px;
      .point-note {
        display: block;
        font-size: 1rem;
        color: #999999;
        font-family: 'Playfair', serif;
        font-style: italic;
      }
      .list-item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .item {
          font-size: 1.1rem;
        //   font-family: "Inter", sans-serif;
        font-family: 'Playfair', serif;
        }
      }
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #999999;
        position: absolute;
        top: 0;
        left: -50px;
        border-radius: 50%;
      }
      &::after {
        content: "";
        width: 1px;
        height: calc(100% + 70px);
        background: #999999;
        position: absolute;
        top: 10px;
        left: -45px;
        border-radius: 50%;
      }
      &:last-child::after {
        height: calc(100%);
      }
      &:hover {
        .point-note {
          color: green;
        }
        &::before {
          background: green;
        }
        &::after {
          background: green;
        }
      }
    }
  }
}
